*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color:#1bafdb;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .game-intro {
    padding: 10% 50%
    
  }
  
  .game-intro p {
    font-size: 25px;
    font-family: "Verdana";
    width: 50vw;
  }
  
  .logo-img {
    width: 500px;
    height: 200px;
    padding: 25px;
    align-items: center;
  }

  #start-screen {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    position: fixed;
    top:30%;
    left:50%;
    margin-top: -100px;
    margin-left: -100px;
    height:200px;
    width:250px;
    text-align: center;
}
  
  
  body button {
    font-size: 30px;
    background-color: #030000;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      padding: 180px 315px;
      align-content: center;
  }

  #game-board p{
    padding: 10px;
    font-size: 30px;
  }
  
  canvas{
    border: 0px solid ;
    background-color: #030000
  
  }
